.item-div {
    border: solid;
    position: relative;
    margin-bottom: 5px;
}
.item-top-left {
    position: absolute;
    top: 10px;
    left: 120px;
}
.item-bottom-left {
    display: inline;
    position: absolute;
    bottom: 10px;
    left: 120px;
}

.item-top-right {
    display: inline;
    position: absolute;
    text-align: center;
    top: 10px;
    right: 15px;
}

/* .item-icon-left {
    display: inline-block;
    position: absolute;

}
 */


.item-icon-left {
    /* text-align: center; */
    /* margin-top: auto; */
    /* margin-bottom: auto; */
    vertical-align: middle;
}
.item-icon-right {
    /* text-align: center; */
    /* margin: 0 auto; */
    vertical-align: middle;
}

.item-number {
    display: inline-block;
    /* margin-top: auto;
    margin-bottom: auto; */
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;

}


.item-image {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-style:solid;
    border-radius: 15px;
    margin: 25px 5px 25px;
}

.item-detail {
    display: inline-block;
}
